{% extends 'layout/base.html' %}


{% block main %}
    <h1>About Shopping Spree</h1>
    <div class="assests">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, reprehenderit. Sapiente quam odio quaerat ipsa itaque similique, quos quia omnis ea blanditiis. Dolorum id, cupiditate aperiam laborum aliquam nostrum quaerat non pariatur distinctio quisquam quibusdam, adipisci esse expedita. Cumque odit dignissimos placeat temporibus quo libero aspernatur. Maxime ullam maiores quaerat.
    </div>
{% endblock main %}