{% extends 'layout/base.html' %}


{% block main %}
    <h1 class="home-heading">
        Shopping Spree
    </h1>
    <div class="assets">
        <h4>Welcome to Shopping Spree...</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, animi cum totam quisquam nisi deserunt tempore explicabo dicta! Suscipit eveniet tenetur adipisci rerum repellendus saepe quis velit. Illo animi molestias, perspiciatis earum ea quia explicabo voluptates hic illum atque magnam impedit iure veritatis quam facere eveniet neque adipisci tempora. Illo?
        </p>
    </div>
{% endblock main %}