<form action="">
    <fieldset>
        <legend>Join The Shopping Ship</legend>
        <div class="form-field">
            <label for="username">Username</label>
            <input type="text">
        </div>
        <div class="form-field">
            <label for="email">Email</label>
            <input type="text">
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input type="text">
        </div>
        <div class="form-field">
            <label for="confirm">Confirm Password</label>
            <input type="text">
        </div>
    </fieldset>
    <div class="form-field">
        <input type="submit" value="Hop on Let's Go Sea Shopping">
    </div>
</form>