<header>
    <div class="logo"><a href="{{url_for('main.index')}}">Logo</a></div>
    <nav>
        <div class="left">
            <ul>
                <li><a href="{{url_for('main.index')}}">Home</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li><a href="{{url_for('auth.register')}}">GO Shopping</a></li>
                <li><a href="{{url_for('auth.login')}}">Get Shopping</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </nav>
</header>